* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
  font-family: 'MyTitleFont';
  src: url('../DuncDad/_resources/RagtimeMarker-Regular.otf') format('opentype');
}

h1 {
    font-family: MyTitleFont, Arial, Helvetica, sans-serif;
    font-size: 50px;
}

footer {
    font-size: 12px;
    color: red;
}
