* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
  font-family: "My Title Font";
  src: url('resources/RagtimeMarker-Regular.otf') format('opentype');
  
}
.topheading {
  padding-top: 11px;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #5e5e5e;
    text-align: center;
}

h2, h3, h4 {
    font-weight: 400;
}

h2 {
  font-size: 24px;
  color: #29A527;
}

h3 {
  font-size: 20px;
  color: black;
}

h4 {
  font-size: 14px;
  color: #111111;
}

nav{
  width: 100%;
  text-align: center;
  position: fixed;
  top: 33px;
  z-index: 10;
  display: inline-block;
}

nav.li {
  width: 80px;
  border:  2px solid #29A527
}

body {
  font-family: Raleway, tahoma, serif;
  font-size: 13px;
  padding-left: 11px;
}

main {
  width: 63%;
  background-color: azure;
  position: absolute;
  left: 11px;
  top: 10%;
}

article {

}

aside {
  padding-right: 11px;
  width: 30%;
  background-color: #eee;
  position: absolute;
  right: 11px;
  top: 10%;
}

footer {
    font-size: 11px;
    color: #eee;
    background-color: #000;
    text-align: center;
    position: fixed;
    bottom: 3px;
    width: 100%;    
}